$base-spacing-unit: 2em;

$color-base: #ab763e;
$color-dark: #9c6e3d;
$color-accent: #3e7bbb;
$color-light: #4383c6;

$ui-color-white: #eee;
$ui-color-off-white: #CEE0F2;
$ui-color-black: #333;
$ui-color-off-black: #194B80;
