html, body, table {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  position:relative;
}

*:before,
*:after,
* {
  transition:all 1s linear;
}

table td {
  vertical-align:center;
  text-align:center;
}

.block {
  width:1em;
  height:1em;
  position:relative;
  display:inline-block;
  image-rendering: pixelated;
}
.block, .block * {
  transform-style: preserve-3d;
  backface-visibility:hidden;
}

.block div {
  position:absolute;
  width:100%;
  height:100%;
}
.block div.top {
  bottom:100%;
  transform-origin:50% 100%;
  transform:rotateX(90deg);
}
.block div.bottom {
  top:100%;
  transform-origin:50% 0;
  transform:rotateX(-90deg);
}
.block div.side--1 {
}
.block div.side--2 {
  top:0;
  right:100%;
  transform-origin:100% 50%;
  transform: rotateY(-90deg);
}
.block div.side--3 {
  transform: rotateY(180deg) translateZ(1em);
}
.block div.side--4 {
  top:0;
  left:100%;
  transform-origin:0 50%;
  transform: rotateY(90deg);
}

.block--dirt div,
.block--dirt-grass div {
  background: url('mc_dirt.jpg');
  background-size:100%;
}

.block--dirt-grass .top { background-position:0 -2em; }
.block--dirt-grass .side { background-position:0 -1em; }

.field {
  margin:10vh 10vw;
  height:80vh;
  width:80vw;
  position:relative;
  font-size:300px;
  perspective: 200vw;
}
.field .block {
  position:absolute;
}
.field .block.top { top:0; }
.field .block.bottom { bottom:0; }
.field .block.left { left:0; }
.field .block.right { right:0; }
